body{
    margin: 0px; 
}
.header{
    padding: 0px;
    margin: 0px;
    display: block;
    position: relative;
    background-image: url(bmw.jpg);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
    text-align: center;
    background-origin: border-box;
    overflow: hidden;
}
.top-bar-desktop{
    display: flex;
    padding: 0px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
}
#top-button{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.5rem;
    font-family: "Modern Antiqua", serif;
    width: 20%;
    border:none ;
    border-bottom:solid white 1px ;
    border-radius: 0px;
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
}
#top-button:hover{
    background-color: rgba(255, 255, 255, 0.277);
}
.logo-bmw{
    width: 100%;
    color: wheat;
    position: absolute;
    bottom: 150px; 
}
#logo-socilao{
    display: inline;
    background-image: url(Untitled\ design\ \(7\).png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    border: solid 0px white;
    border-radius: 50%;
}
#logo-socilac{
    display: none;
    background-image: url(Untitled\ design\ \(7\).png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    border: solid 0px white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px white;
}
.social{
    display: none;
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: white;
    border: solid 0px;
    text-shadow: 0px 0px 5px white;
}
.social-link{
    font-size: 2rem;
    width: calc(100% / 6);
    animation: socialup;
    translate:0px 0px ;
    animation-duration: 2s;
    animation-delay: 0.5;
}
@keyframes socialup{
    0%{
    translate: 0px 100px ;
    }
    50%{
    translate: 0px -15px ;
    }
    100%{
    translate: 0px 0px ;
    animation-timing-function: ease-in-out;
    }
}
@media (max-width: 400px){
    #top-button{
        font-size: 0.9rem;
}

.header{
    padding: 0px;
    margin: 0px;
    display: block;
    position: relative;
    background-image: url(bmw.jpg);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
    text-align: center;
    background-origin: border-box;
    overflow: hidden;
}
.logo-bmw{
    width: 100%;
    color: wheat;
    position: absolute;
    bottom: 80px; 
}
}

.content{
    background-color: rgb(255, 255, 255);
    height: 500px;
}
