body{
    background-color: #f2f2f2;
    margin: 0px;
}
.contaner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(4,auto);
}
.header{
    position: relative;
    background-color: red;
    grid-column: 1/4;
    width: 100%;
    height: 50px;
    padding-left: 25px;
    padding-top: 10px;
    background-color: white;
    transition: 0.5s;
}
#lista{
    position: absolute;
    right: 0px;
    background-color: rgba(255, 255, 255, 0);
    border: solid rgba(255, 255, 255, 0);
    width: 40px;
    height: 40px;
    font-size: xx-large;
    padding-right: 75px;
}
.welcome-text{
    text-align: center;
    background-color: #f2f2f2;
    grid-column: 1/4;
    width: 100%;
    height: 200px;
}
#text1{
    font-size: 3rem;
    color: #ec4668;
    transition: 0.5s;
}
#text2{
    font-size: 15px;
    font-family: monospace;
    transition: 0.5s;
}
.content{
background-color: #f2f2f2;
}
.footer{
    background-color: white;
    grid-column: 1/4;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 2rem;
    color: #ec4668;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content{
    grid-column: 1/4;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: content;
    justify-content: center;
    flex-grow: inherit;
    padding-top: 15px;
}
#users{
    background-color: white;
    position: relative;
    width: 300px;
    height: 450px;
    margin: 10px;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
    transition: 0.5s;
}
.photo{
    position: relative;
    width: 100%;
    height: 60%;
    background-image: url(fdffd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25%;

}
.contet{
    position: relative;
    margin-top: 5px;
    border-radius: 25%;
    width: 100%;
    height: 40%;
    background-color: white;
}
#name{
    position: relative;
    display: block;
    font-size: x-large;
    width: 100%;
    height: 30%;
    color: #ec4668;
    padding-top: 10px;
    font-weight: 900;

}
#info{
    position: relative;
    display: block;
    font-weight: 300;
    width: 100%;
    height: 40%;
}
.social{
    position: relative;
    display: block;
    width: 100%;
    height: 30%;
    color: #ec4668;
    font-size: 30px;
    text-align: center;
}
#icon{
    margin: 5px;
}